*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  overflow-x:hidden;

}
#root{
  width:100%;
  height:auto;
  font-family: 'Poppins', sans-serif;
}

@media(-webkit-min-device-pixel-ratio:1.20){
  html{
    font-size:13px;
  }
}